h4,
h3 {
    margin: 0;
    padding: 0;
}

body {
    --bkg-color1: #ffffff;
    --bkg-color2: rgba(245, 245, 245, 0.984);
    --line-color: rgb(0, 0, 0);
}
body.dark-theme {
    --bkg-color1: #1c1c1c;
    --bkg-color2: #121313;
    --line-color: rgb(255, 255, 255);
}
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --bkg-color1: #1c1c1c;
        --bkg-color2: #121313;
        --line-color: rgb(255, 255, 255);
    }
    body.light-theme {
        --bkg-color1: #ffffff;
        --bkg-color2: rgba(245, 245, 245, 0.984);
        --line-color: rgb(0, 0, 0);
    }
}

body {
    position: relative;
    background-color: var(--bkg-color1);
    color: var(--line-color);
}

.settings {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-style: solid;
    border-width: thin;
    background-color: var(--bkg-color2);
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.text {
    margin: 3%;
    padding: 2%;
    border: 4px solid rgb(188, 188, 188);
}

.copyright {
    text-align: center;
}
